In [1]:
# This Part is for data preparation of main dataset and CPC section dataset

# The Raw data size is about dozens GB, so we are unable to upload them to github, please don't try to read the data

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('patent.tsv',sep='\t',error_bad_lines=False)

b'Skipping line 4505264: expected 11 fields, saw 12\n'
b'Skipping line 4540085: expected 11 fields, saw 12\nSkipping line 4570473: expected 11 fields, saw 12\n'
b'Skipping line 4610402: expected 11 fields, saw 12\nSkipping line 4652985: expected 11 fields, saw 12\n'
b'Skipping line 4662863: expected 11 fields, saw 12\n'
/Users/xajin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df.tail()

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
6957994,T998013,defensive publication,T998013,US,1980-09-02,NaN,Protection of insect pheromones from degradati...,I4,1.0,pftaps19800902_wk36.zip,0.0
6957995,T998014,defensive publication,T998014,US,1980-09-02,NaN,"Thiazolyl couplers, coupler compositions and p...",I4,3.0,pftaps19800902_wk36.zip,0.0
6957996,T999001,defensive publication,T999001,US,1980-10-07,NaN,Sack handling device,I4,1.0,pftaps19801007_wk41.zip,0.0
6957997,T999002,defensive publication,T999002,US,1980-10-07,NaN,Application of polymeric powders to a substrate,I4,7.0,pftaps19801007_wk41.zip,0.0
6957998,T999003,defensive publication,T999003,US,1980-10-07,NaN,"Shifted photographic dyes and compositions, el...",I4,3.0,pftaps19801007_wk41.zip,0.0

In [8]:
df.abstract[0]

'A frequency modulated (coherent) laser detection and ranging system includes a read-out integrated circuit formed with a two-dimensional array of detector elements each including a photosensitive region receiving both return light reflected from a target and light from a local oscillator, and local processing circuitry sampling the output of the photosensitive region four times during each sample period clock cycle to obtain quadrature components. A data bus coupled to one or more outputs of each of the detector elements receives the quadrature components from each of the detector elements for each sample period and serializes the received quadrature components. A processor coupled to the data bus receives the serialized quadrature components and determines an amplitude and a phase for at least one interfering frequency corresponding to interference between the return light and the local oscillator light using the quadrature components.'

In [9]:
df.title[0]

'Coherent LADAR using intra-pixel quadrature detection'

In [12]:
df.shape

(6957999, 11)

In [13]:
patent = df

In [125]:
cpc_current = pd.read_csv('cpc_current.tsv',sep='\t',error_bad_lines=False)

In [126]:
cpc_current.dtypes

uuid             object
patent_id         int64
section_id       object
subsection_id    object
group_id         object
subgroup_id      object
category         object
sequence          int64
dtype: object

In [16]:
application = pd.read_csv('application.tsv',sep='\t',error_bad_lines=False)

/Users/xajin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
application.head()

          id patent_id series_code   number country        date
0  02/002761   D345393           2  2002761      US  1992-12-21
1  02/007691   5164715           2  2007691      US  1990-04-10
2  02/010248   5177974           2  2010248      US  1988-06-23
3  02/020141   5379515           2  2020141      US  1994-02-16
4  02/027172   5264790           2  2027172      US  1991-07-01

In [21]:
patent.head()

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
0,10000000,utility,10000000,US,2018-06-19,A frequency modulated (coherent) laser detecti...,Coherent LADAR using intra-pixel quadrature de...,B2,20.0,ipg180619.xml,NaN
1,10000001,utility,10000001,US,2018-06-19,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12.0,ipg180619.xml,NaN
2,10000002,utility,10000002,US,2018-06-19,The present invention relates to: a method for...,Method for manufacturing polymer film and co-e...,B2,9.0,ipg180619.xml,NaN
3,10000003,utility,10000003,US,2018-06-19,The invention relates to a method for producin...,Method for producing a container from a thermo...,B2,18.0,ipg180619.xml,NaN
4,10000004,utility,10000004,US,2018-06-19,The present invention relates to provides a do...,"Process of obtaining a double-oriented film, c...",B2,6.0,ipg180619.xml,NaN

In [22]:
cpc_current.head()

,uuid,patent_id,section_id,subsection_id,group_id,subgroup_id,category,sequence
0,01bid55nrangfpc2alel0ph2c,4205226,H,H01,H01J,H01J49/025,inventional,1
1,mhl6idj9h404kix2s1480wqfq,4205226,H,H01,H01J,H01J49/482,inventional,2
2,8tzyinp2t0ty6doksz56kx4e7,4205227,H,H01,H01L,H01L27/153,inventional,0
3,wkhck9vs2a1ntcy1d3x4abyja,4205227,G,G08,G08B,G08B13/19,inventional,1
4,x17dr1r14jwfn1iqxuavpbz4m,4205227,H,H01,H01L,H01L31/147,inventional,2

In [23]:
citation = pd.read_csv('uspatentcitation.tsv',sep='\t',error_bad_lines=False)

In [24]:
citation.head()

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence
0,00000jd7thmiucpaol1hm1835,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
1,00000l0ooxrvfv6jkenobhwis,D674253,D519335,2006-04-01,Ishii,S,US,cited by examiner,13
2,00000nv59m7vgyvfxehud4477,D809697,1963218,1934-06-01,Wakefield,A,US,cited by examiner,0
3,00001jxaxme3a89hidjtdkoi4,D808172,7207426,2007-04-01,Godshaw et al.,B2,US,cited by applicant,14
4,00001nlwuimui60vu3k1yzjqd,8683318,6642945,2003-11-01,Sharpe,B1,US,cited by examiner,6

In [28]:
citation[citation.patent_id == 'D674253']

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence
1,00000l0ooxrvfv6jkenobhwis,D674253,D519335,2006-04-01,Ishii,S,US,cited by examiner,13
5768845,22lnjc80jwxqqbko9o5vxvd05,D674253,2309444,1943-01-01,De Vault,A,US,cited by examiner,0
11102074,3zmumc1a5b7l3xj07az8xa0oc,D674253,D479445,2003-09-01,Chang,S,US,cited by examiner,7
12395328,4gdz97tx3fukiby4o8ky4kkzl,D674253,D403928,1999-01-01,Joergensen,S,US,cited by examiner,3
16999877,63wsx04jy51so8zwf4o0kolsa,D674253,D488362,2004-04-01,Overthun et al.,S,US,cited by examiner,9
19814706,74ci5tun4w9pvnkrx90oi3oeq,D674253,D506650,2005-06-01,Lee,S,US,cited by examiner,10
23010114,89qk5vvthb8lrhja3rf3kaasc,D674253,2562842,1951-07-01,Cushman,A,US,cited by examiner,2
24092749,8nqyb88ctabs7bqpzmd08ldbv,D674253,D609537,2010-02-01,Kestenbaum,S,US,cited by examiner,17
29053814,afynb6f6ba8n7ajgdq5zxixyr,D674253,D563738,2008-03-01,Michaelian et al.,S,US,cited by examiner,16
37555629,dhy9ujcdui5ijf0hn59unt4kt,D674253,D531466,2006-11-01,Zirbes,S,US,cited by examiner,15
44705865,g2i2ytrplxym4v2puywszpazg,D674253,D407277,1999-03-01,Cousins,S,US,cited by examiner,5
59743755,lh3g8o3htcknbbpua2s9h62uc,D674253,D461692,2002-08-01,Law,S,US,cited by examiner,6
64530834,nd3f1zfy4eh7zsf5uelzgx5tp,D674253,D626387,2010-11-01,Hawker,S,US,cited by examiner,18
65880053,nuki57u7u2hc0gn5ij9j8c9e1,D674253,7065882,2006-06-01,Haberstroh,B2,US,cited by examiner,14
76364910,rma583txa52gyf38uua2ban73,D674253,D518689,2006-04-01,McGuyer,S,US,cited by examiner,12
78623791,sfiiigz2s78x8gqzkyd41j5ge,D674253,5865110,1999-02-01,Yonezawa,A,US,cited by examiner,4
83157264,u28dnzuapz69fvwxtl63evjsm,D674253,D486703,2004-02-01,Settele,S,US,cited by examiner,8
88675295,w1mdn4o299z4vybhzvswq7z5e,D674253,2323863,1943-07-01,Feemster,A,US,cited by examiner,1

In [30]:
cpc_current = cpc_current[['patent_id','section_id']]

In [32]:
patent_join = pd.merge(patent, cpc_current, left_on='id', right_on='patent_id')

In [38]:
patent_join = patent_join.drop_duplicates()

In [39]:
patent_join.head(3)

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn,patent_id,section_id
0,10000000,utility,10000000,US,2018-06-19,A frequency modulated (coherent) laser detecti...,Coherent LADAR using intra-pixel quadrature de...,B2,20.0,ipg180619.xml,NaN,10000000,G
5,10000001,utility,10000001,US,2018-06-19,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12.0,ipg180619.xml,NaN,10000001,B
7,10000001,utility,10000001,US,2018-06-19,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12.0,ipg180619.xml,NaN,10000001,G

In [47]:
patent_join = patent_join.drop(columns=['kind','filename','withdrawn','patent_id'])

In [49]:
patent_section = patent_join[['id','section_id']]

In [60]:
patent_section['dummy'] = 1

/Users/xajin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
patent_section_pivot = patent_section.pivot(index='id', columns='section_id',values='dummy')

In [91]:
patent_section_pivot.loc[10000002]

section_id
A    NaN
B    1.0
C    NaN
D    NaN
E    NaN
F    NaN
G    NaN
H    NaN
Y    NaN
Name: 10000002, dtype: float64

In [107]:
flattern = pd.DataFrame(patent_section_pivot.to_records())

In [108]:
flattern.head()

        id    A    B   C   D   E   F   G   H    Y
0  3930271  1.0  NaN NaN NaN NaN NaN NaN NaN  NaN
1  3930272  1.0  NaN NaN NaN NaN NaN NaN NaN  1.0
2  3930273  1.0  NaN NaN NaN NaN NaN NaN NaN  NaN
3  3930274  NaN  1.0 NaN NaN NaN NaN NaN NaN  NaN
4  3930275  1.0  1.0 NaN NaN NaN NaN NaN NaN  NaN